* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics*/
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

a {
    text-decoration: none;

}

.btn {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin-bottom: 30px;
}

img {
    width: 100%;
    display: block;
}


/* header */
.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.logo a {
    font-family: 'Nerko One', cursive;
    color: #ff9614;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
}

/*section header*/
.box-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.vote {
    display: flex;
    align-items: center;
    gap: 5px;
}

.page-title i {
    display: none;
}

.page-title h2 {
    font-size: 2rem;
    color: #4E3969;
}

.page-title h4 {
    font-weight: 100;
    color: rgb(153, 153, 153);
}

.vote div {
    font-size: 1.2rem;
}

.fa-solid {
    color: #ff9614;
}

.vote .btn {
    background-color: #ff9614;
    margin-bottom: 0;
}

/*video section*/

.video {
    height: 50vw;
}

.video iframe {
    height: 100%;
    width: 100%;
    display: block;
}

/*info*/
.recipe {
    box-shadow: 1px 1px 10px rgb(129, 129, 129);
    margin-bottom: 30px;
}

.recipe-info {
    padding: 30px;
    background-color: #fff;
}

.box-info {
    background-color: #F6F5F9;
    padding: 10px;
}

.top-info {
    display: flex;
    justify-content: space-between;
}

.kcal {
    padding: 5px;
    background-color: #7B69A2;
    color: #fff;
    margin: 5px;
    border-radius: 5px;
}

.info {
    color: #ff9614;
    font-weight: bold;
}

hr {
    opacity: 70%;
    margin: 10px 0px;
}

ul {
    list-style-type: none;
}

li {
    margin: 20px 0px
}

/*socials*/
.socials {
    display: flex;
    justify-content: space-evenly;
}

.socials span {
    display: none;
    color: black;
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: #009EFF;
}

.fa-instagram {
    color: rgb(247, 117, 225);
}

.fa-pinterest {
    color: red;
}

.fa-youtube {
    color: red;
}

aside {
    display: none;
}


/* procedure */
.procedure h2 {
    font-weight: 400;
    font-size: 2rem;
}

.procedure hr {
    width: 100px;
    height: 3px;
    border: none;
    background-color: #ff9614;
}

p img {
    margin: 0 auto;
    width: 400px;

}

p {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 40px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/*footer*/
footer {
    background-color: #7C69A4;
    padding: 30px;
}

address span {
    display: block;
    font-style: normal;
    text-align: center;
    color: #fff;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

footer a {
    color: #fff;
}